<form class="text-center" action="http://localhost:8000/public/templates/login" method="post">
  <!-- ng-submit="submit()" -->
<div class="well">
    <h2 class="text-center ">login <i class="fa fa-lock " aria-hidden="true "></i></h2>
    <!-- ng-model="logUser.name" -->
        <label>Username:<i class="fa fa-user " aria-hidden="true "></i>
              <input type="text" name="username" class="form-control " />
        </label>
        <!-- ng-model="logUser.password" -->
        <label>Password:<i class="fa fa-lock " aria-hidden="true ">  </i>
            <input type="password" name="password" class="form-control"/>
        </label><br><br>
        remember me
        <input type="checkbox" checked data-toggle="toggle" data-size="mini" data-onstyle="default"> <br><br>
        <input type="submit" class="btn btn-success btn-sm login"/> <br><br>
</div>
<div class="well">
  <hr>
  <p class="text-center" style="color:red;">please enter correct details</p>
  <h4>don't have an account?</h4>
        <a class="btn btn-info btn-sm" ui-sref="register"> Create Account</a> <br> <br>

        <p class="text-muted" style="font-size:0.9em;">By signing up, you agree to our <a href="#">terms of service</a> and <a href="#">privacy policy</a></p>
</div>

    </form>
