<!--SIGNUP-->
    <form class="text-center" ng-submit="register(newUser)">
      <div class="row well">
        <div class="col-md-12">
              <h2>register</h2> <br>

              <div class="row">
                <div class="col-md-3 col-md-push-3" style="font-size:1.3em;margin-top:-10px;">
                    <i class="fa fa-user " aria-hidden="true"></i>
                </div>
                    <div class="col-md-9">
                      <input type="text " name="username" placeholder="user name" ng-model="newUser.username" class="form-control"/>
                    </div>
              </div> <br>
              <div class="row">
                <div class="col-md-3 col-md-push-3" style="font-size:1.3em;margin-top:-10px;">
                          <i class="fa fa-lock " aria-hidden="true"></i>
                      </div>
                      <div class="col-md-9">
                          <input type="password" placeholder="password" name="password" ng-model="newUser.password" class="form-control"/>
                      </div>
              </div> <br>
              <div class="row">
                <div class="col-md-3 col-md-push-3" style="font-size:1.3em;margin-top:-10px;">
                    <i class="fa fa-repeat " aria-hidden="true"></i>
                </div>
                <div class="col-md-9">
                        <input type="password" placeholder="repeat password" name="passwordConfirm" ng-model="newUser.passwordConfirm" class="form-control" />
                    </div>
              </div> <br>
                <hr>
                  <button type="submit" class="btn btn-success btn-sm "/>submit</button>
      </div>
    </div>

        <!--SOCIAL-->
        <div class="row">
            <div class="well text-center col-md-12" style="height:200px;">
              <h3>or login with social</h3>
              <hr>
                  <div class="col-md-3 col-md-push-1">
                    <button type="button" style="background-color:transparent;border:none ">
                          <a ui-sref="/auth/facebook">
                              <img src="images/login-fb.png "/>
                          </a>
                    </button>
                  </div>
                  <div class="col-md-9 col-md-push-1">
                        <button type="button" style="background-color:transparent;border:none">
                              <img src="images/google.png "/>
                        </button>
                  </div>
           </div>
     </div>
</form>
