<!--SIGNUP-->
<div class="signup " ng-hide="signUp ">
    <form class="text-center " ng-hide="!loginScreen " ng-submit="register()">
        <div>
            <label>Username:
                        <i class="fa fa-user " aria-hidden="true ">
                          <input type="text " name="username " class="form-control " />
                        </i>
                      </label>
        </div>
        <div>
            <label>Password:
                        <i class="fa fa-lock " aria-hidden="true ">
                      <input type="password " name="password " class="form-control " />
                      </i>
                      </label>
        </div>
        <div>
            <label>Confirm Password:
                        <i class="fa fa-lock " aria-hidden="true ">
                      <input type="password " name="passwordConfirm " class="form-control " />
                      </i>
                      </label>
        </div> <br>
        <input type="submit " class="btn btn-success btn-sm " value="Sign Up " />
        <!--SOCIAL-->
        <button type=" button " class="pull-right " style="background-color:transparent;border:none ">
                      <a href="/auth/facebook ">
                          <img src="images/login-fb.png "/>
                      </a>
                    </button>
        <button type="button " class="pull-right " style="background-color:transparent;border:none;padding-right:10px; ">
                      <img src="images/google.png "/>
                    </button>
    </form>
</div>
