body{background-color:#081F37; }

.well {
  opacity: 0.8;
}
.fa,  .fa-user{
  margin-top: 17px;
}

.modal-backdrop {
   background-color: rgba(255, 255,255, 0.5)}

.form-control {
    width: 180px;
    margin: 0 auto;
}
.login{width:200px;}
label {
    text-align: left;
}
