body{background-color:#081F37; color:#fff }
button:active{outline: none;}

li{color:#000;}
.well {
  background-color: rgba(10, 1, 1, 0.3);
  border: none;
}
.fa,  .fa-user{
  margin-top: 17px;
}

.form-control {
    width: 180px;
    margin: 0 auto;
}
.login{width:200px;font-size: 1.1em}
.error{color:red;}
label {
    text-align: left;
    font-weight: normal;
}
